/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

nav {
  width: 100%;
  min-height: 50px;
  background-color: gray;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

li {
  list-style: none;
  margin-left: 20px;
}

li a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  margin-top: 10px;
  padding: 5px 20px;
}
li a:hover {
  border: none;
  border-radius: 20px;
  background-color: lightslategray;
}

.bg-img {
  min-height: 100vw;
  background-image: url("bg.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

.bg-img h1 {
  color: black;
  text-align: center;
  margin-top: 5%;
}

.bg-img p {
  color: rgb(0, 5, 9);
  font-size: 30px;
  text-align: center;
  margin: 20px 20%;
}

.btn {
  height: 100px;
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.more-btn,
.start-btn {
  margin: 10px;
  font-size: 30px;
  background-color: gray;
  border-radius: 30px;
  padding: 10px;
}
